﻿body {
    padding:0px 50px 0px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
.top-buffer { margin-top:100px; }


img {
    max-width: 150%;
    max-height: 150%;
}