﻿extends ./../layout

block content
    h4 User List
    table.table.table-bordered
        tr
            th Id
            th Name
            th Email
            th Company
        each user in users
            tr
                td #{user.Id}
                td #{user.Name}
                td #{user.Email}
                td #{user.CompanyName}