﻿extends ./../layout

block content
    form(method="post",action="/user")
        input(type="text", name="Email")
        input.btn-success(type="submit" ,value="Search")
    h4 User List
    table.table.table-bordered
        tr
            th Id
            th Name
            th Email
            th Company
            th
        each user in users
            tr
                td #{user.Id}
                td #{user.Name}
                td #{user.Email}
                td #{user.CompanyName}
                td
                    form(action="/company/addmycompany",method="post")
                        input(type="hidden",name="Id",value=user.Id)
                        input.btn.btn-success(type="submit" value="Add to my company")