﻿doctype html
html
  head
    title Entities... 
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')

body


.container
    nav.navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand(href='/')
                    img(src="/images/LinkedIn.PNG")
                ul.nav.navbar-nav
                    li
                        a(href='/company') Company
                    li
                        a(href='/company/sendrequest') Send Request
                    li
                        a(href='/company/Request') Request List
                    li
                        a(href='/user/Connected') Connected Users
                    li
                        a(href='/user') Users
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="#") Hello,  #{user} !
                    li
                        a(href="/login/logout") Logout
div.container.body-content
block content
               