﻿doctype html
html
  head
    title Sign in
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
  body
    div.top-buffer.container.row
        div.jumbotron.col-md-offset-3.col-md-7.pull-center
            form(method="post",action="/login")
                div.col-md-12
                    div.form-horizontal
                        div.form-group
                            img.col-md-offset-3(src="images/LinkedIn.PNG")
                        div.form-group
                            label.col-md-2 Email
                            div.col-md-7
                                input.form-control(type="email",name="Email",required)

                        div.form-group
                            label.col-md-2 Password
                            div.col-md-7
                                input.form-control(type="password",name="Password",required,autocomplete="off")
                        div.form-group
                            div.col-md-offset-2.col-md-5
                                input.btn.btn-success(type="submit",value="Login") 
                                h5 Dont have account? 
                                    a(href="/user/signup") Sign Up