﻿extends ./../layout

block content
    h4 Add Company
    form(method="post",action="/company/add")
        div.row
            div.col-md-5
                div.form-horizontal
                    div.form-group
                        label.col-md-2 Name
                        div.col-md-7
                            input.form-control(type="text",name="Name",required,autocomplete="off")
                    div.form-group
                        label.col-md-2 Type
                        div.col-md-7
                            input.form-control(type="text",name="Type",required,autocomplete="off")
                    div.form-group
                        label.col-md-2 Size
                        div.col-md-7
                            input.form-control(type="text",name="Size",required,autocomplete="off")
                    div.form-group
                        label.col-md-2 Industry
                        div.col-md-7
                            input.form-control(type="text",name="Industry",required,autocomplete="off")
                    div.form-group
                        div.col-md-offset-2.col-md-3
                            input.btn.btn-success.btn-block(type="submit",value="Save")
