﻿extends ./../layout

block content
    a(href="/company/add") Add Company
    h4 Company List
    table.table.table-bordered
        tr
            th Id
            th Name
            th Size
            th Type
            th Industry
            th User Id
        each company in companies
            tr
                td #{company.Id}
                td #{company.Name}
                td #{company.Size}
                td #{company.Type}
                td #{company.Industry}                
                td #{company.UserId}