﻿extends ./../layout

block content
    table.table.table-bordered
        tr
            th Request From
            th 
            th
        each company in companies
            tr
                td #{company.RequestFromName}
                td 
                    form(action="/company/Accept",method="post")
                        input(type="hidden",name="Id",value=company.Id)
                        input(type="hidden",name="companyId",value=company.RequestFromId)
                        input(type="hidden",name="RequestFromName",value=company.RequestFromName)
                        input.btn.btn-success(type="submit" value="Accept")

                td
                    form(action="/company/Reject",method="post")
                        input(type="hidden",name="Id",value=company.Id)
                        input.btn.btn-danger(type="submit" value="Reject")