﻿extends ./../layout

block content
    table.table.table-bordered
        tr
            th Id
            th Name
            th Size
            th Type
            th Industry
            th User Id
            th 
        each company in companies
            tr
                td #{company.Id}
                td #{company.Name}
                td #{company.Size}
                td #{company.Type}
                td #{company.Industry}                
                td #{company.UserId}
                td 
                    form(action="/company/SendRequest",method="post")
                        input(type="hidden",name="Company_id",value=company.Id)
                        input(type="hidden",name="Company_Name",value=company.Name)
                        input.btn.btn-info(type="submit" value="Send Request")